@model List<My_Portfolio_MVC.Models.Education>
@{ 
    string start = string.Empty;
    string end = string.Empty;
}
<div class="column lg-6 tab-12">

    <h2 class="text-pretitle" data-animate-el>
        Eğitimlerim
    </h2>

    <div class="timeline" data-animate-el>

        @foreach (var edu in Model)
        {
            start = edu.StartDate.ToShortDateString();
            end = edu.EndDate.HasValue ? edu.EndDate?.ToString("d") : "Devam Ediyor";
            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <h4 class="timeline__title">
                        @edu.SchoolName
                    </h4>
                    <h5 class="timeline__meta">@edu.Degree</h5>
                    <p class="timeline__timeframe">@start - @end </p>
                </div>
                <div class="timeline__desc">
                    <p>@edu.Description</p>
                </div>
            </div>
        }

        

    </div> <!-- end timeline -->

</div> <!-- end column -->
