@model My_Portfolio_MVC.Models.Contact
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<div class="py-5">
    <h2 class="text-center">Güncelleme</h2>
    <form method="post">
        <input type="hidden" name="ContactId" value="@Model.ContactId" />
        <label class="form-label">Telefon Numarası</label>
        @Html.TextBoxFor(c => c.Phone, new { @class = "form-control my-2" })
        <label class="form-label">Mail Adresi</label>
        @Html.TextBoxFor(c => c.Email, new { @class = "form-control my-2" })
        <br />
        <button class="btn btn-success" type="submit">Güncelle</button>
    </form>
</div>
