
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    
}

<h2 class="text-light text-center mt-3"><i class="fa fa-envelope me-lg-2"></i>Mesajlar</h2>

<div class="d-flex justify-content-center gap-3" sytle="margin-bottom:20px">
        <a href="/Message/IsRead" class="btn btn-info" >Okunan Mesajlar -@ViewBag.isRead</a>
        <a href="/Message/IsNotRead" class="btn btn-success" >Okunmayan Mesajlar -@ViewBag.isNotRead</a>
</div>
    
     

