@model My_Portfolio_MVC.Models.Experience
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h4 class="text-center">Oluşturma</h4>

<form method="post">
    <div class="my-2">
        <label class="my-4">Şirketin Adı</label>
        @Html.TextBoxFor(e => e.CompanyName, new { @class = "form-control" })
    </div>
    <div class="my-2">
        <label class="my-4">Rolu</label>
        @Html.TextBoxFor(e => e.Title, new { @class = "form-control" })
    </div>
    <div class="my-2">
        <label class="my-4">Açıklama</label>
        @Html.TextBoxFor(e => e.Description, new { @class = "form-control" })
    </div>
    <div class="my-2">
        <label class="my-4">Başlama Tarihi </label>
        <input type="date" name="StartDate" class="form-control" />
    </div>
    <div class="my-2">
        <label class="my-4">Bitiş Tarihi <span><strong>(Eğer Devam Ediyorsa Boş Bırakın)</strong></span></label>
        <input type="date" name="EndDate" class="form-control" />
    </div>
    
    <button class="btn btn-outline-info my-4">Kaydet</button>
</form>

