@using My_Portfolio_MVC.Models
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<div class="py-1">
    <h4 class="text-center my-2">Hakkımda</h4>

    <div class="container-fluid">

        <table class="table table-hover table-striped" style="width:100%">
            <thead class="bg-light">
                <tr class="text-dark">
                    <th class="text-center">Resim</th>
                    <th class="text-center">Başlık</th>
                    <th class="text-center">Açıklama</th>
                    <th class="text-center">Sil</th>
                    <th class="text-center">Güncelle</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                        <img src="@item.ImageUrl" style="width:70px;height:70px; border-radius:50%" />
                        </td>
                        <td class="text-center text-nowrap">@item.Title</td>
                        <td class="text-center">@item.Description</td>
                        <td class="text-center"><a href="/About/Delete/@item.AboutId" class="btn btn-danger">Sil</a></td>
                        <td class="text-center"><a href="/About/Update/@item.AboutId" class="btn btn-success">Güncelle</a> </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a href="/About/Create" class="btn btn-success my-4 text-center"> Yenisi Ekle </a>
</div>

